<h1>{{title}}</h1>
<button {{action 'sayHello' on='mouseEnter'}}>Say Hello</button>
<p>{{body}}</p>
<p>
    <strong>Authors:</strong>
    {{#each authors as |author|}}
        {{author}},
    {{/each}}
</p>
<h4>Comments</h4>
<ul>
  {{#each comments as |commentlist|}}
    <li><strong>{{commentlist.name}}</strong>- {{commentlist.comment}}</li>
  {{/each}}
</ul>
